

body {
  background-color: #072c31;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header {
  color: white;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding-top: 10px;
  padding-right: 10px;
}

.header-nav {
  width: 16%;
  display:flex;
  justify-content: space-around;
}

.header-nav div {
  border: 1px solid #efb310;
  border-radius: 10px;
  padding: 5px;
}

.header-nav div:hover {
  cursor: pointer;
  color: orange;
}

.main-profile {
    padding-top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.main-profile .profile-image {
    min-width: 40%;
    height: 95%;
    margin-right: 10px;
    /* animation: .5s ease-out 0s 1 slideInFromLeft; */
}

.main-profile .profile-image img {
    height: 100%;
    width: 100%;
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(0);
    }
}

.profile-description {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 60%;
    padding-bottom: 10%;
    padding-left: 40px;
    animation: 2s ease-out 0s 1 slideInFromTop;
}

.profile-description .greeting {
  color: #efb310;
  width: 90%;
  font-size: 1.5em;
}

.profile-description .name {
  font-size: 1em;
  color: white;
  width: 90%;
  margin-bottom: 20px;
}

.profile-description .caption {
  color:#ccc;
  width: 90%;
  margin-top: 40px;
}

.profile-description .caption a {
    color: white;
}

.profile-description .caption a:hover {
    color: #efb310;
}

.skills {
  background-color: white;
  height: 99vh;
  position: relative;
}

.skills .image {
    width: 100%;
    height: 24%;
    margin-top: 3px;
}

.skills .first {
    display: none;
    justify-content: center;
}

.skills .second {
    display: none;
    justify-content: center;
    margin-bottom: 10px;
}

.skills .second div {
    width: 50%;
    display: flex;
    justify-content: center;
}

.skills .second img {
    width: 35%;
    height: 100%;
}

.skills .third {
  display: none;
  justify-content: center;
  margin-bottom: 10px;
}

.skills .third div {
  width: 50%;
  display: flex;
  justify-content: center;
}

.skills .third img {
  width: 35%;
  height: 100%;
}

.skills .image1 {
    position: absolute;
    top: 50%; 
    right: 50%;
    transform: translate(50%,-50%);
    height: 30%;
    width: 30%;
    border-radius: 50%;
    overflow: hidden;
    display: none;
}

.skills .fourth {
  display: none;
  justify-content: center;
}

.skills .image1 img {
    height: 100%;
    width: 100%;
}

.projects {
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 30px;
}

.projects img {
  width: 350px;
  margin-right: 40px;
  height: 500px;
}

.footer {
  background-color: white;
}

.footer .social-media {
  margin-left: 20px;
}

.footer .social-media a {
   margin-right: 25px;
}

.fa-envelope-o {
  width: 20px;
  height: 20px;
}



@keyframes blink {
  0% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
.image1 {
  animation: blink 2s;
  animation-iteration-count: infinite;
}